node_modules/
dist/
release/
preview/

*.png
*.jpg
!assets/community/wechat-learning-group.jpg
!assets/community/xiaohongshu-wetianshuo.jpg
*.jpeg
*.webp
*.gif
*.bmp
*.tif
*.tiff

.DS_Store
Thumbs.db
desktop.ini
